@font-face {
    font-family: Figtree-semi;
    src: url(assets/fonts/static/Figtree-SemiBold.ttf);
}
@font-face {
    font-family: Figtree-bold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Figtree-semi;
}
html{
    background-color: hsl(47, 88%, 63%);
}
.container{
    background-color: white;
    position: absolute;
    width:450px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 10px black;
}
.main{
display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
border-radius: 10px;
margin-top: 20px;
}
.right{
    margin-left: 24px;
}
.title{
    background-color: hsl(47, 88%, 63%);
    width: 100px;
    display: grid;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Figtree-bold;
    font-weight: 600;
}
.date{
    margin-top: 10px;
}
h1{
    margin-top: 15px;
    font-family: Figtree-bold;
    cursor: pointer;
}
h1:hover{
    color: hsl(47, 88%, 63%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
p{
    margin-top: 15px;
    color: hsl(0, 0%, 50%);
    font-size: 20px;
}
div.person{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
img.person{
    width: 35px;
}
.name{
    margin-left: 10px;
}